* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFA500;
    justify-content: center;
    align-items: center;
    
}

fieldset {
    background-color: #FF8C00;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}

#main {
    position: absolute;
    top: auto;
    left: auto;
    margin: 20px;
    padding: 10px;
}